body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
.container{
    max-width: 600px;
    margin: auto;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}
input select{
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size:1em;
    border: 1px solid #ccc;
}

.summary{
    margin-bottom: 20px;

}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background: #eee;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 5px solid;

}
li.income{
    border-color: green;
}
li.expense{
    border-color: red;
}
.description{
    height: 100px;
}
.amount{
    padding: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    height: 70px;
    
}
.add-btn{
    width: 80px;

    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}